body{
  background-color: #f9f9f9;
}
.pressed {
  box-shadow: 0 3px 4px 0 grey;
  background-color: red;
  opacity: 0.5;
}
#btn {
    background-color: white;
  margin-top: 20px;
  width: 300px;
  height: 90px;
  color: black;
  border: 2px solid #008CBA;
}
#btn:hover {
  background-color: #008CBA;
  color: white;
}
.dice{
  text-align: center;
  visibility: hidden;
  border-radius: 15px;
}
.dice#player1{
  display: inline;
  margin-right: 15%;
  font-size: 20px;
}
.dice#player2{
    display: inline;
    margin-left: 15%;
  font-size: 20px;
}
.dice#leftDice {
  margin-right: 35px;
  max-width: 400px;
  max-height: 400px;
}
.dice#rightDice {
  margin-left: 35px;
  max-width: 400px;
  max-height: 400px;
}
@media all and (orientation: portrait){
  .general{
    transform: rotate(90deg);
    margin-top: 15%;
    width: 100%;
  }
  #hide {
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
  }
  #head {
    font-size: 90px;
    margin-top: 10%;
    text-align: center;
    vertical-align: middle;
  }
  .dice{
    align-content: center;
    display: block;
    margin: 30px;
  }
  .dice#player1{
    display: none;
  }
  .dice#player2{
    display: none;
  }
}
